body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}











body {

	margin: 0 auto;
	font: 13px helvetica;
	background: #ededed;
}

#app {

	width: 955px;
	margin: 0 auto;
}


#header {

	height: 70px;
	padding-top: 10px;
	color: #ffffff;

	background: #1e4262;
}
	#logo {

		position: absolute;
		margin-top: 10px;
		float: left;
		font-size: 150%;
		color: #85f632;
		font-weight:normal;
	}

	#welcome {

		float: right;
		font-size: 85%;
	}

	#navigation {


	}

		ul#menu{list-style-type:none;position:relative;	margin:0;margin-left: -6px;height:27px; padding:43px 0 0 0;}
		ul#menu li{display:block;float:left;margin:0 0 0 6px;height:27px;}
		ul#menu li.left{margin:0;}
		ul#menu li a{display:block;float:left;color:#fff;background:#466bb1;line-height:27px;text-decoration:none;padding:0 17px 0 18px;height:27px;

		-moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;

		}
		ul#menu li a.right{padding-right:19px;}
		ul#menu li a:hover{background: #97baff;color: navy; }
		ul#menu li a.current{background: #ededed;
    color: navy;}


#messages {

	border: 1px green solid;
	vertical-align: middle;
	background: #e2f9e3;
	color: green;
}


#wrapper {
	margin-top: 33px;

}

	#content {
		float:left;
		width: 760px;


		box-shadow: 1px 1px 1px 2px #c6c6c6;
	}

	#content-header {

		background: #dae3f6;
		padding: 7px 20px 7px 15px;
	}

		#content-header h2 {
			color: #333;
			text-shadow: 1px 1px 1px #fff;
		}

	#content-main {

		padding: 20px 15px 15px 15px;
		background: #ffffff;

	}

	#slidebar {
		padding: 0px 0px 0px 780px;
	}

	label {
		font-weight: bold;

	}

	input {

		height: 20px;
		border: 1px solid #2e4457;
	}

#footer {


}

