<% title t(:matters) %>

<% content_for :main do %>
  <% @matters.each do |matter| %>
    <p>
    <%= link_to matter.name, matter %> </br>
    <%= matter.description %> </br>
    <%= matter.quantity_lessons %> Aulas <br />
    </p>
  <% end %>
<% end %>

<% content_for :slidebar do %>
  <%= link_to new_matter_path, :class => 'big button' do %>
    <span class="plus icon"></span>Nova Disciplina
  <% end %>
<% end %>

