<% title t(:matters) %>

<% content_for :main do %>
  <% @matters.each do |matter| %>

    <h3><%= link_to matter.name, matter %> </h3>
    <%= matter.description %> </br>
    <%= matter.quantity_lessons %> Aulas <br /><br />
  <% end %>
<% end %>

<% content_for :slidebar do %>
  <%= link_to new_matter_path, :class => 'big button' do %>
    <span class="plus icon"></span>Nova Disciplina
  <% end %>
<% end %>

