<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('errors.template.header', :count => resource.errors.size, :model => t("activerecord.models.#{resource.class.to_s.downcase}")) %>:</h2>

    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

  </div>
<% end %>

